<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head"></th:block>

<body>

<th:block th:replace="Header"></th:block>

<div th:fragment="bloghero" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">We share our experience</h1>
        <p class="lead">Great Reviews' blog</p>
        <a href="/blogs/all" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View all posts</a>
    </div>
</div>


<div class="d-flex flex-column  align-items-center  m-5 ">
    <div class="container mt-5">

        <div class="row">
            
            <div class="col-sm-5 d-flex flex-column justify-content-center">
                <div class="p-5">
                    <h2 th:text="${latestBlog.title}">Article heading...</h2>
                    <p th:text="${latestBlog.content.length() >= 100 ? latestBlog.content.substring(0,100) : latestBlog.content}" class="m-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, id?</p>
                </div>
                <a th:href="@{/blogs/post(id=${latestBlog.id})}" class="btn btn-primary btn-lg active m-5" role="button" aria-pressed="true">Read more</a>
            </div>

            <div class="col-sm">
                <img th:src="${latestBlog.imageURL}" class="img-fluid" alt="Responsive image">
            </div>


        </div>
        <br>
        <br>
        <hr>

    </div>

</div>




<div th:fragment="moreposts" class="container mt-5 mb-5">

    <h3 class="m-5">More from our blog</h3>
    <div class="row">


        <div class="col-sm d-flex justify-content-around flex-wrap">

            <div th:each="blg : ${moreFromBlog}" class="card m-2" style="width: 18rem;">
                <img class="card-img-top" th:src="${blg.imageURL}" alt="Card image cap">
                <div class="card-body">
                    <h5 th:text="${blg.title}" class="card-title">Card title</h5>
                    <p th:text="${blg.content.length() >= 100 ? blg.content.substring(0,100) : blg.content}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/blogs/post(id=${blg.id})}" class="btn btn-primary">Read more</a>
                </div>
            </div>



        </div>
    </div>

</div>




<th:block th:replace="Footer"></th:block>
</body>
</html>