<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head"></th:block>

<body>

<th:block th:replace="Header"></th:block>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 th:text="|Three step process to claim ${currentCompany.name ?: currentCompany.website.substring(4)} |" class="display-4"> </h1>

    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center flex-wrap">
        <div class="d-flex flex-column justify-content-center align-items-center m-5">
            <h1 class="text-center text-dark">1</h1>
            <p class="m2" th:inline="text" >You need <b>root/admin</b> access to the server where <q>[[${currentCompany.website}]]</q> is hosted</p>
        </div>


        <div class="row d-flex justify-content-center flex-wrap">
            <div class="d-flex flex-column justify-content-center align-items-center m-5 ">
                <h1 class="text-center text-dark">2</h1>
                <p class="text-wrap m-3">Put the following <b>&ltmeta&gt</b> tag inside the <b>&lthead&gt</b> tag of your website </p>
                <blockquote  th:text="${tokenMarkup}" class="blockquote text-info m-2 bg-light p-3 rounded w-75 text-wrap  align-self-sm-start align-self-md-center align-self-lg-center">
                </blockquote>
            </div>


        </div>
        <div class="row d-flex justify-content-center flex-wrap">
            <div class="d-flex flex-column justify-content-center align-items-center m-5 ">
                <h1 class="text-center text-dark">3</h1>
                <p>Click the button when you are ready to verify this business</p>
                <button id="verify-business" type="button" class="btn btn-warning m-2">Verify business</button>

            </div>
        </div>
    </div>

</div>




<th:block th:replace="Footer"></th:block>
</body>

<script>




</script>
</html>