<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="head"></th:block>

<body>

<th:block th:replace="Header"></th:block>


<!--    company main  statistics-->
    <th:block   th:replace="company/fragments/CompanyHeaderStats"></th:block>



<div class="container mt-5 min-vh-100">
    <!--       write a review or login section -->
        <th:block th:replace="company/fragments/WriteReviewSection"></th:block>

<!--company reviews section-->
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <div th:each="r : ${reviews}" th:object="${r}"  class="card border-success m-3 p-0 align-self-center" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <div class="media">
                    <img class="mr-3 w-100" th:src="@{*{userImageURL}}" alt="Generic placeholder image" style="max-width: 120px; height: auto">
                    <div class="media-body">
                        <h5 th:text="*{userName}" class="mt-0 text-nowrap">John Doe</h5>
                        <small th:text="*{created}" class="text-muted">01/01/2015</small>
                        <i th:if="*{vote == '1'}" class="far fa-thumbs-up text-success d-inline-block m-2" ></i>
                        <i th:if="*{vote == '-1'}" class="far fa-thumbs-down text-danger d-inline-block m-2"></i>
                        <a th:text="|*{userReviewsCount} reviews|" th:href="@{/users/reviews(usrid=*{userId})}" th:if="${currentUser.id} != *{userId}" class="text-nowrap"> 15 reviews</a>
                    </div>
                </div>
            </div>
            <div class="card-body text-success">
                <h5 th:text="*{title}" class="card-title">Very good company </h5>
                <p th:text="*{content}" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil quae rem? A at corporis cum delectus, dicta, dolorem dolorum exercitationem fugit quisquam quos reiciendis rem tempora tempore? Minima, quam!</p>
            </div>
            <!--            footer section-->
<!--            todo: implement mark as useful and flag review functions-->
            <div class="container-fluid d-flex flex-wrap justify-content-center">
                <button class="btn badge  text-white m-3 flag-button"
                        th:if="${!r.userId.equals(currentUser.id)}"
                        sec:authorize="isAuthenticated()"  id="flagBtn"
                         th:data-review-id="${r.id}"
                         th:disabled="${r.usersFlagged.contains(currentUser.id)}"
                         th:classappend="${r.usersFlagged.contains(currentUser.id)} ? 'badge-warning disabled' : 'badge-info' "
                         th:inline="text"
                >
                        [[${r.usersFlagged.contains(currentUser.id)} ? 'Awaiting admin response' : 'Flag review']]

                    <i th:if="!${r.usersFlagged.contains(currentUser.id)}" class="fas fa-flag text-danger ml-1"></i>
                </button>




            </div>
<!--            <a  href="#" class="card-footer bg-transparent border-success">Mark as useful</a>-->
<!--            <a  href="#" class="card-footer bg-transparent border-success">Flag this review</a>-->


        </div>


    </div>

</div>


<th:block th:replace="Footer"></th:block>
</body>

<script sec:authorize="isAuthenticated()" th:inline="javascript">
    /*<![CDATA[*/
    let csrfValue = /*[[${_csrf.token}]]*/;
    const flagButtons = document.getElementsByClassName("flag-button");



  const flagHandler = async function(evt){
        evt.stopPropagation();
        evt.preventDefault();

        const reviewId = evt.currentTarget.dataset["reviewId"];

        let response = await(await fetch(`/reviews/flag?id=${reviewId}`, {
            method: "POST",
            headers: {
                'X-CSRF-TOKEN': csrfValue
            },
        })).json();
        //todo disable the button

        if(response["isFlagged"]){
            evt.target.classList.add("disabled");
            evt.target.disabled = true;
            evt.target.textContent = "Awaiting admin response"
            evt.target.classList.remove("badge-info")
            evt.target.classList.add("badge-warning")
        }

    };

    Array.from(flagButtons).forEach(btn => {
        btn.addEventListener("click",flagHandler);
    })



    /*]]>*/
</script>
</html>