<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="head"></th:block>

<body>

<th:block th:replace="Header"></th:block>

<div class="d-flex flex-column  align-items-center  m-5 min-vh-100">

    <div class="container">
        <h2 class="m-5">Compare the best companies on Great Reviews! </h2>

        <div class="row ">
            <div class="col-sm">

                <th:block th:fragment="categories">
                    <small class="text-muted mb-5">Choose a category</small>
                <div class="list-group " >
                    <a href="#" class="list-group-item list-group-item-action">
                        Cras justo odio
                    </a>
                    <a href="/categories/subcategories" class="list-group-item list-group-item-action active">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item list-group-item-action ">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item list-group-item-action ">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item list-group-item-action ">
                        Cras justo odio
                    </a> <a href="#" class="list-group-item list-group-item-action ">
                    Cras justo odio
                </a> <a href="#" class="list-group-item list-group-item-action ">
                    Cras justo odio
                </a> <a href="#" class="list-group-item list-group-item-action ">
                    Cras justo odio
                </a>

                </div>

                </th:block>
            </div>




        </div>
    </div>



</div>








<th:block th:replace="Footer"></th:block>
</body>
</html>