<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:replace="head"
></th:block>

<body>
<th:block th:replace="CompaniesHeader">
</th:block>


<div class="container-fluid min-vh-100 mt-5">


    <div class="jumbotron">
        <h1 class="display-4">Welcome to our enterprise world!</h1>
        <p class="lead">Please register or log in to gain access to the full features</p>
        <hr class="my-4">
        <p>Grow your brand trust now!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/users/login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
        </p>
    </div>

    <!--todo-->

</div>

<th:block th:replace="Footer">
</th:block>
</body>
</html>