<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:replace="head"
></th:block>

<body>
<th:block th:replace="Header">

</th:block>


<div class=" container min-vh-100">
    <h2 class="m-5 text-center">Register</h2>

    <!--todo-->
    <form class="d-flex flex-column justify-content-center align-items-center m-5">

        <div class="col-md-4 mb-3">
            <label for="validationServer01">Email</label>
            <input type="email" class="form-control is-valid" id="validationServer01" placeholder="Email" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Username</label>
            <input type="password" class="form-control is-invalid" id="validationServer02" placeholder="Password" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback"> invalid</div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationServer02">Date of birth</label>
            <input type="date" class="form-control is-invalid" id="validationServer02" placeholder="Password" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback"> invalid</div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationServer02">Password</label>
            <input type="password" class="form-control is-invalid" id="validationServer02" placeholder="Password" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback"> invalid</div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="validationServer02">Confirm password</label>
            <input type="password" class="form-control is-invalid" id="validationServer02" placeholder="Password" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback"> invalid</div>
        </div>




        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>


</div>

<th:block th:replace="Footer">

</th:block>
</body>
</html>