<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:replace="head"
></th:block>

<body>
<th:block th:replace="Header">

</th:block>

<th:block th:fragment="index">


    <th:block layout:fragment="landing">
        <div class="jumbotron">
            <h1 class="display-4">Each review is special</h1>
            <p class="lead">
                We bridge the gap between customers and companies and provide transparency.
            </p>
            <hr class="my-4">
            <p>Read reviews. Write reviews. Find companies.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/categories" role="button">Explore</a>
            </p>
        </div>
        <br>

        <h2 th:if="!${latestReviews.size() == 0} " class="text-center text-nowrap">Here's what people say...</h2>

        <h2 th:if="${latestReviews.size() == 0}" class="text-center text-nowrap">
            We have no reviews yet... feel free to add some!
        </h2>

        <div class="container" >
            <div class="row d-flex flex-wrap align-items-start justify-content-lg-center">

                <div class="col-sm  " th:each="r : ${latestReviews}" th:object="${r}">

                    <div class="media m-5" >
                        <a class="pr-3" th:href="@{/reviews/company(of=*{companyId})}">
                            <img class="mr-3" th:src="@{*{companyLogo}}" alt="Company logo" style="max-width: 64px; height: auto">
                        </a>
                        <div class="media-body">
                            <h5 th:text="*{companyName} == null ? *{companyWebsite} : *{companyName}" class="mt-0">Company name</h5>

                            <div class="media mt-3">

                                <div th:inline="text" class="media-body">

                                    <h5 class="mt-0"><a class="pr-3 text-dark" th:href="@{/users/reviews(usrid=*{userId})}" th:text="*{userName}">John Doe</a>
                                        <i th:if="*{vote == '1'}" class="far fa-thumbs-up text-success d-inline-block m-2" ></i>
                                        <i th:if="*{vote == '-1'}" class="far fa-thumbs-down text-danger d-inline-block m-2"></i>
                                    </h5 >
                                    [[*{content} == '' ? *{title} : *{content}]]

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
<!--                <div class="col-sm ">-->

<!--                    <div class="media m-5">-->
<!--                        <a class="pr-3" href="/companies/profile/{id}">-->
<!--                            <img class="mr-3" src="https://via.placeholder.com/64" alt="Company logo">-->
<!--                        </a>-->
<!--                        <div class="media-body">-->
<!--                            <h5 class="mt-0">Company name</h5>-->

<!--                            <div class="media mt-3">-->

<!--                                <div class="media-body">-->

<!--                                    <h5 class="mt-0"><a class="pr-3 text-dark " href="/users/profile/{id}">John Doe</a>-->
<!--                                    </h5>-->
<!--                                    Review content &#45;&#45; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae,-->
<!--                                    necessitatibus.-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->

<!--                    <div class="media m-5">-->
<!--                        <a class="pr-3" href="/companies/profile/{id}">-->
<!--                            <img class="mr-3" src="https://via.placeholder.com/64" alt="Company logo">-->
<!--                        </a>-->
<!--                        <div class="media-body">-->
<!--                            <h5 class="mt-0">Company name</h5>-->

<!--                            <div class="media mt-3">-->

<!--                                <div class="media-body">-->

<!--                                    <h5 class="mt-0"><a class="pr-3 text-dark " href="/users/profile/{id}">John Doe</a>-->
<!--                                    </h5>-->
<!--                                    Review content &#45;&#45; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae,-->
<!--                                    necessitatibus.-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->

<!--                </div>-->

            </div>
        </div>


    </th:block>


</th:block>

<th:block th:replace="Footer">

</th:block>
</body>
</html>