<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >


<body>
<th:block  th:fragment="companyHeader">
    <div class="jumbotron jumbotron-fluid bg-light ">
        <div class="container d-flex ">
            <h1 th:text="${currentCompany.name} ?: ${currentCompany.website.substring(4)} " class="display-4 ">Acme Corporation</h1>
        </div>

        <!--        main info-->
        <div class="container d-flex flex-wrap" th:object="${currentCompany}">
            <img th:src="@{*{logo}}" alt="" class="img-thumbnail" style="max-width: 150px; height: auto;">
            <div class="container d-flex flex-column w-25 m-0">
                <div th:inline="text" class="lead">
                   <span class="d-block"> Total Reviews [[${currentCompany.reviewsCount}]]</span>

                <div class="m-2 d-inline">
                    <i class="far fa-comment text-success"></i>
                </div> [[${currentCompany.upVotesCount}]]

                <div class="m-2 d-inline">
                    <i class="far fa-comment text-danger"></i>
                </div> [[${currentCompany.downVotesCount}]]

                </div>



                <h6 th:text="${currentCompany.website}" class="text-muted mt-3">www.website.com</h6>
                <a th:href="|http://${currentCompany.website}|" class="badge badge-dark w-50" target="_blank" rel="noopener noreferrer">Visit website</a>
            </div>

            <!--            address email phone-->
            <div class="container d-flex flex-column w-25 m-0">
                <p th:if="${currentCompany.address != ''}" th:inline="text"  class="lead">
                    <i class="fas fa-map-marked-alt"></i>
                    [[${currentCompany.address}]]
                </p>
                <p th:if="${currentCompany.email != null}" th:inline="text" >
                    <i class="fas fa-envelope"></i>
                    [[${currentCompany.email}]]
                </p>
                <p th:if="${currentCompany.phone != null}" th:inline="text" class="">
                    <i class="fas fa-phone"></i>
                    [[${currentCompany.phone}]]
                </p>
            </div>

            <!--  short description-->
            <span th:text="${currentCompany.shortDescription}" class="m-2 text-center text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at commodi consequatur culpa debitis dolorum eos excepturi facilis molestiae nam omnis sed sunt vel veritatis, voluptate? Assumenda iste laborum nihil!
            </span>

        </div>
    </div>
</th:block>
</body>
</html>