<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >


<body>
<th:block th:fragment="writeReviewSection">
    <div class="container d-flex justify-content-center">

        <div class="col d-flex flex-column justify-content-center">

            <div sec:authorize="isAuthenticated()" class="media w-50 mb-5 align-self-center">
                <a href="#" >
                <img class="m-3 rounded-circle" th:src="@{${currentUser.imageURL}}" alt="Generic placeholder image" style="max-width: 100px; height: auto">
                </a>

                <div class="media-body mt-5">
                <h5 th:text="${currentUser.username}" class="mt-0">John Doe</h5>
                    <a th:if="${!userHasPendingReview}" th:href="@{/reviews/company/evaluate(cid=${currentCompany.id})}">Write a review</a>
                    <span th:if="${userHasPendingReview}" class="badge badge-pill badge-primary">Review approval pending...</span>
                    <small th:if="${userHasPendingReview}" class="text-center text-muted d-block m-3"> Once your review is published you will be able to post again</small>
                </div>
            </div>

            <!--            if not logged in show this -->
            <p sec:authorize="!isAuthenticated()" class="w-50 align-self-center text-center">To write a review</p>
            <div sec:authorize="!isAuthenticated()" class="container d-flex align-items-center align-self-center w-50 p-0 justify-content-center mb-5">
                <a href="/users/login" type="button" class="btn btn-primary m-2">Login</a>
                <p class="m-2"> or </p>
                <a href="/users/register" type="button" class="btn btn-success m-2">Register</a>
            </div>

            <!--         show reviews here-->

        </div>


    </div>
</th:block>
</body>
</html>